openapi: 3.0.2
x-json-schema-faker:
  maxItems: 2
info:
  description: |
    # Overview

    Noona provides a powerful REST(y) API that focuses on simplicity and clarity.

    - All API requests must be made over HTTPS. Calls made over plain HTTP will be redirected to HTTPS.

    **Base Path**
    ```
    https://api.noona.is
    ```

    The HQ API controls individual companies. A developer writing a plugin for individual hair salons would do so using the HQ API.

    Example user: **A hair saloon**.

  title: Noona HQ API
  version: '0.0.2781'
  x-logo:
    url: https://api.noona.is/docs/img/logo_black.svg

servers:
  - url: https://api.noona.is

x-tagGroups:
  - name: Enterprises
    tags:
      - Enterprise
      - Settlement Accounts
      - Payments
      - Settlements
      - Voucher Templates
      - Vouchers
  - name: Companies
    tags:
      - Companies
      - Event Types
      - Event Type Groups
      - Event Type Category Groups
      - Event Type Categories
      - Employees
      - Spaces
      - Events
      - Event Statuses
      - Time Slots
      - Holidays
      - Customers
      - Customer Groups
      - Blocked Times
      - Products
      - Product Groups
      - Payment Methods
      - Terminals
      - Notifications
      - Custom Properties
      - Apps
      - Messaging
      - Waitlists
      - Memos
  - name: Webhooks
    tags:
      - Webhooks
      - Webhook Invocations
  - name: Subscriptions
    tags:
      - Subscriptions
  - name: Point of sale
    tags:
      - Sales
      - Transactions
      - Line Items
      - Subtransactions
      - Issuers
      - Claims
  - name: Users
    tags:
      - User
      - Tokens
      - User Terminals
      - Google Calendar
  - name: Metrics
    tags:
      - Metrics
  - name: Activities
    tags:
      - Activities
  - name: OAuth
    tags:
      - OAuth
      - Applications
  - name: Integrations
    tags:
      - Saltpay
      - Fiscalization
      - Adyen

tags:
  - name: Hidden
    description: Hidden endpoints. Still invokable, but not documented. Very useful for backwards compatibility but keeping our docs clean.
  - name: User
    description: User management.
  - name: Tokens
    description: API Tokens can be used to authenticate requests to the API.
  - name: Products
    description: Products describe goods you offer to your customers.
  - name: Product Groups
    description: |
      Product Groups are used to group products into categories. A shampoo might, for example, belong to a product group titled "Hair Products".

      Products can reside in multiple product groups simultaneously.
  - name: Marketplace Companies
    x-displayName: Companies
    description: |
      Companies are individual service providers such as **Hair salons**, **Chiropractors** and **Veterinarians**.
  - name: Event Types
    description: |
      Event Types describe the different services a company offers.
  - name: Event Type Groups
    description: |
      Event Type Groups are used to group event types into categories. A haircut might, for example, belong to an event type group titled "Haircuts".

      Event types can reside in multiple event type groups simultaneously.
  - name: Events
    description: |
      Events are the center point of our whole system.

      A haircut that an HQ user performs on some marketplace user at a specified time is an event.
  - name: Blocked times
    description: Blocked times are a multi-purpose feature to block certain times from being bookable in the calendar.
  - name: Enterprises
    description: An enterprise is an umbrella entity which purpose is maintaining a relation between multiple companies.
  - name: Sales
    description: |
      Sales are used to group related transactions, for example product and service sales with different invoice issuers for the same customer or original invoice and a refund.

      Customer info for transactions is stored on the sale as well as reference to events that were paid in this sale.
  - name: Transactions
    description: Transactions are made up of service and products that can be paid in subtransactions
  - name: Subtransactions
    description: |
      Subtransactions make up the individual payment methods used in a single transaction.

      A transaction of $20 might be split into subtransactions of $5 in cash and $15 by card.
  - name: Payment Methods
    description: |
      The various payment methods available in the Noona ecosystem.
  - name: Terminals
    description: |
      Terminals are used to charge credit cards for services.
  - name: User Terminals
    x-displayName: Terminals
    description: |
      Terminals are used to charge credit cards for services.
  - name: Customers
    description: |
      Customers are individuals that have booked an event with a company.
  - name: Customer Groups
    description: |
      Customer Groups are used to group customers into categories. A customer might, for example, belong to a customer group titled "Regulars".
  - name: Voucher Templates
    description: |
      Voucher templates are predefined templates that enable a fast creation of vouchers.
  - name: Vouchers
    x-displayName: Vouchers
    description: |
      Vouchers are purchased through the marketplace and can be used to pay for a service at an enterprise.
  - name: Settlement Accounts
    description: |
      Settlement accounts are used by an enterprise to take payments.
  - name: Payments
    description: |
      Payments are created by the marketplace when a customer pays for an event, voucher or product.

      Payments are bulked and sent to an enterprise as a settlement.
  - name: Settlements
    description: |
      Settlements are the sum of multiple payments that the company has received via different sales channels.

      Settlements are transferred to the enterprise's settlement account on a weekly basis.
  - name: Custom Properties
    description: Custom properties enable the possibility of extending resources with custom data.
  - name: Webhooks
    description: |
      Webhooks are used to receive notifications about events that occur in the Noona ecosystem.

      Multiple events can be tied to a single callback URL.

      A callback payload for **creation** and **update** reflects the current state of the resource.

      A callback payload for **deletion** reflects the state of the resource before deletion.
  - name: Subscriptions
    description: Subscriptions are the container for plans which can include several powerups. They are used to charge and manage the features used by companies.
  - name: Webhook Invocations
    description: |
      Webhook Invocations are the actual HTTP requests that are sent to a webhook's callback URL.

      Webhook invocations are logged and can be inspected via the API.
  - name: Notifications
    description: |
      Notifications inform users about various things such as new events, cancelled events and more.
  - name: Saltpay
    description: |
      The Saltpay integration enables connecting and sending payments to a Saltpay terminal.
  - name: Adyen
    description: |
      The Adyen integration enables activating various payment services.
  - name: Fiscalization
    description: |
      Fiscalization is the process of sending data to an external system for the purpose of tax reporting.
  - name: Time Slots
    description: |
      Time Slots are points in time when a company can provide a specified service.
  - name: Activities
    description: |
      Activities are used to track changes to resources in the Noona ecosystem.
  - name: Spaces
    description: |
      Spaces are resources that might be required for a service. For example, a massage parlor might have a space called "Massage Room 1".

      An Event Type might then require a space and an employee to be available in order to be bookable at a certain time.
  - name: Employees
    description: |
      Employees are the individuals that work at a company and provide services to customers.

      An employee is a HQ user in the context of a company. A HQ user can be an employee at multiple companies.

      The employee resource describes that company specific data for the HQ user.
  - name: OAuth
    description: |
      OAuth is used to authenticate users and applications to the Noona API.
  - name: Applications
    description: |
      Applications are created by third party developers to gain scoped access to the Noona API on behalf of users.
  - name: Apps
    description: |
      Apps are 3rd party applications that can be installed by companies to extend the functionality of Noona.
  - name: Event Statuses
    description: |
      Event statuses are used to describe the current state of an event.

      Noona has a set of default statuses:
      - **showedUp**
      - **cancelled**
      - **noshow**
      - **checkedOut**
      - and the implicit *empty* status.

      Custom statuses can be created to extend the default set.
  - name: Event Type Category Groups
    description: |
      Event Type Category Groups are top level grouping of event type categoires. An example of event type category group is *Barbering* and event type categories in that group could be *Men's haircut* and *Beard Trimming*.
  - name: Event Type Categories
    description: |
      Event Type Categories are used to group event types into categories. An example of an event type category is *Men's haircut* which is in the event type category group *Barbering*.

paths:
  /v1/hq/enterpise:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
      summary: Retrieve enterprise
      description: Retrieve the enterprise entity of the current company.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enterprise"
          description: Enterprise
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetEnterprise
      tags:
        - Enterprise
    patch:
      security:
        - BearerTokenAuth: []
      summary: Update enterprise
      description: Updates the enterprise containing the users active company.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Enterprise"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enterprise"
          description: Updated enterprise
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: UpdateEnterprise
      tags:
        - Enterprise

  /v1/hq/enterprise/{enterprise_id}/companies:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
      summary: List enterprise companies
      description: Lists all companies for an enterprise
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Companies"
          description: Enterprise companies
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
      operationId: ListEnterpriseCompanies
      tags:
        - Enterprise

  /v1/hq/enterprise/{enterprise_id}/settlement_accounts:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
      summary: List settlement accounts
      description: Lists the settlement accounts of an enterprise.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementAccounts"
          description: Settlement accounts
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListEnterpriseSettlementAccounts
      tags:
        - Settlement Accounts

  /v1/hq/enterprise/{enterprise_id}/settlement_accounts/{settlement_account_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
      summary: Get settlement account
      description: Retrieves settlement account of an enterprise with ID.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - name: settlement_account_id
          description: Settlement Account ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementAccount"
          description: Settlement account
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: GetEnterpriseSettlementAccount
      tags:
        - Settlement Accounts
    delete:
      security:
        - BearerTokenAuth: []
      summary: Delete settlement account
      description: Deletes a settlement account for an enterprise.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - name: settlement_account_id
          description: Settlement Account ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Settlement account deleted
      operationId: DeleteEnterpriseSettlementAccount
      tags:
        - Settlement Accounts

  /v1/hq/enterprise/{enterprise_id}/voucher_templates:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - voucher_templates:read
      summary: List voucher templates
      description: Lists the voucher templates of an enterprise.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplateFilter"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplatesResponse"
          description: VoucherTemplates
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListVoucherTemplatesLegacy
      tags:
        - Voucher Templates
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - voucher_templates:write
      summary: Create voucher template
      description: Creates a voucher template at enterprise tied to company.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoucherTemplateCreate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplateResponse"
          description: Created Voucher
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: CreateVoucherTemplateLegacy
      tags:
        - Voucher Templates

  /v1/hq/companies/{company_id}/voucher_templates:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - voucher_templates:read
      summary: List voucher templates
      description: Lists the voucher templates for a company.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplateFilter"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplatesResponse"
          description: VoucherTemplates
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListVoucherTemplates
      tags:
        - Voucher Templates

  /v1/hq/voucher_templates:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - voucher_templates:write
      summary: Create voucher template
      description: Creates a voucher template for company.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoucherTemplateCreate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplateResponse"
          description: Created Voucher
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: CreateVoucherTemplate
      tags:
        - Voucher Templates

  /v1/hq/voucher_templates/{voucher_template_id}:
    parameters:
      - $ref: "#/components/parameters/select"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - voucher_templates:write
      summary: Update voucher template
      description: Updates a voucher template at enterprise.
      parameters:
        - name: voucher_template_id
          description: Voucher Template ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoucherTemplateUpdate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherTemplateResponse"
          description: Updated Voucher Template
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: UpdateVoucherTemplate
      tags:
        - Voucher Templates
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - voucher_templates:write
      summary: Delete voucher template
      description: |
        Deletes a voucher template at enterprise.

        It is only possible to delete voucher templates that have not been used to create vouchers.
      parameters:
        - name: voucher_template_id
          description: Voucher Template ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Voucher template deleted
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: DeleteVoucherTemplate
      tags:
        - Voucher Templates

  /v1/hq/enterprise/{enterprise_id}/vouchers:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - vouchers:read
      summary: List vouchers
      description: Lists the vouchers of an enterprise.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherFilter"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vouchers"
          description: Vouchers
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListVouchersLegacy
      tags:
        - Vouchers

  /v1/hq/companies/{company_id}/vouchers:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - vouchers:read
      summary: List vouchers
      description: Lists the vouchers for a company.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherFilter"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vouchers"
          description: Vouchers
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListVouchers
      tags:
        - Vouchers

  /v1/hq/enterprise/{enterprise_id}/vouchers/{voucher_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - vouchers:read
      summary: Get voucher
      description: Retrieves voucher with ID from enterprise.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - name: voucher_id
          description: Voucher ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Voucher"
          description: Voucher
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: GetVoucherLegacy
      tags:
        - Vouchers
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - vouchers:write
      summary: Update voucher
      description: Updates a voucher with ID at enterprise.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - name: voucher_id
          description: Voucher ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Voucher"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Voucher"
          description: Updated Voucher
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: UpdateVoucherLegacy
      tags:
        - Vouchers

  /v1/hq/vouchers/{voucher_id}:
    parameters:
      - $ref: "#/components/parameters/select"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - vouchers:read
      summary: Get voucher
      description: Retrieves voucher with ID from enterprise.
      parameters:
        - name: voucher_id
          description: Voucher ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Voucher"
          description: Voucher
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: GetVoucher
      tags:
        - Vouchers
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - vouchers:write
      summary: Update voucher
      description: Updates a voucher with ID at enterprise.
      parameters:
        - name: voucher_id
          description: Voucher ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: unset
          schema:
            $ref: "#/components/schemas/VoucherFields"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Voucher"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Voucher"
          description: Updated Voucher
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: UpdateVoucher
      tags:
        - Vouchers
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - vouchers:write
      summary: Delete voucher
      description: Deletes a voucher with ID
      parameters:
        - name: voucher_id
          description: Voucher ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Voucher deleted
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: DeleteVoucher
      tags:
        - Vouchers

  /v1/hq/vouchers/{voucher_id}/notification:
    parameters:
      - $ref: "#/components/parameters/select"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - vouchers:write
      summary: Send a voucher notification
      description: |
        Sends a voucher notification to the specified recipient.
      parameters:
        - name: voucher_id
          description: Voucher ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VoucherNotification"
      responses:
        "200":
          description: Voucher
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: CreateVoucherNotification
      tags:
        - Vouchers

  /v1/hq/enterprise/{enterprise_id}/settlements:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - settlements:read
      summary: List settlements
      description: Lists the settlements of an enterprise.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementFilter"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Settlements"
          description: Settlements
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListSettlementsLegacy
      tags:
        - Settlements

  /v1/hq/companies/{company_id}/settlements:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - settlements:read
      summary: List settlements
      description: Lists the settlements for a company.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementFilter"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Settlements"
          description: Settlements
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListSettlements
      tags:
        - Settlements

  /v1/hq/enterprise/{enterprise_id}/payments:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - payments:read
      summary: List payments
      description: Lists the payments of an enterprise.
      parameters:
        - name: enterprise_id
          description: Enterprise ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentFilter"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/pagination"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payments"
          description: Payments
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListPaymentsLegacy
      tags:
        - Payments

  /v1/hq/companies/{company_id}/payments:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - payments:read
      summary: List payments
      description: Lists the payments for a company.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentFilter"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/pagination"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payments"
          description: Payments
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListPayments
      tags:
        - Payments

  /v1/hq/payments/{payment_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - payments:read
      summary: Get payment
      description: Get a payment.
      parameters:
        - name: payment_id
          description: Payment ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
          description: Payments
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: GetPayment
      tags:
        - Payments
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - payments:write
      summary: Update payment
      description: Update a payment.
      parameters:
        - name: payment_id
          description: Payment ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Payment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
          description: Payments
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: UpdatePayment
      tags:
        - Payments

  /v1/hq/payments/{payment_id}/receipt:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - payments:write
      summary: Send payment receipt
      description: Sends a payment receipt to the specified email address.
      parameters:
        - name: payment_id
          description: Payment ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentReceiptRecipient"
      responses:
        "200":
          description: Success
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: SendPaymentReceipt
      tags:
        - Payments
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - payments:read
      summary: Download payment receipt
      description: Downloads a payment receipt.
      parameters:
        - name: payment_id
          description: Payment ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/pdf:
              schema:
                type: string
                format: binary
          description: Payment Receipt PDF
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: DownloadPaymentReceipt
      tags:
        - Payments

  /v1/hq/companies/{company_id}/customer_groups:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customer_groups:read
      summary: List all customer groups
      description: Lists all customer groups of a company.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerGroups"
          description: CustomerGroups
      operationId: ListCustomerGroups
      tags:
        - Customer Groups

  /v1/hq/customer_groups/{customer_group_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
      - name: customer_group_id
        in: path
        required: true
        schema:
          type: string
          example: "dwawd8awudawd"
          description: Customer ID
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customer_groups:read
      summary: Retrieve a customer group
      description: Retrieves information about an existing customer group.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerGroup"
          description: CustomerGroup
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetCustomerGroup
      tags:
        - Customer Groups
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customer_groups:write
      summary: Update a customer group
      description: Updates a customer group at a company.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerGroup"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerGroup"
          description: Updated Customer Group
      operationId: UpdateCustomerGroup
      tags:
        - Customer Groups
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customer_groups:write
      summary: Delete customer group
      description: Deletes a customer group at company.
      responses:
        "200":
          description: Customer Group deleted
      operationId: DeleteCustomerGroup
      tags:
        - Customer Groups

  /v1/hq/customer_groups:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customer_groups:write
      summary: Create a customer group
      description: |
        Creates a new customer group at company.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerGroup"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerGroup"
          description: Customer Group
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: CreateCustomerGroup
      tags:
        - Customer Groups

  /v1/hq/companies/{company_id}/customers:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customers:read
      summary: List all customers
      description: Lists all customers of a company.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerFilter"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/pagination"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customers"
          description: Customers
      operationId: ListCustomers
      tags:
        - Customers

  /v1/hq/customers/{customer_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customers:read
      summary: Retrieve a customer
      description: Retrieves information about an existing customer.
      parameters:
        - name: customer_id
          description: Customer ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
          description: Customer
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetCustomer
      tags:
        - Customers
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customers:write
      summary: Update a customer
      description: Updates a customer at a company.
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
            description: Customer ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Customer"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
          description: Updated Customer
      operationId: UpdateCustomer
      tags:
        - Customers
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customers:write
      summary: Delete customer
      description: Deletes a customer at company.
      parameters:
        - name: customer_id
          description: Customer ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Customer deleted
      operationId: DeleteCustomer
      tags:
        - Customers

  /v1/hq/customers:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - customers:write
      summary: Create a customer
      description: |
        Creates a new customer at company.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - name
                - company_id
              allOf:
                - $ref: "#/components/schemas/Customer"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
          description: Customer
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: CreateCustomer
      tags:
        - Customers

  /v1/hq/companies/{company_id}/terminals:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - terminals:read
      summary: List all terminals
      description: Lists all terminals connected to a company.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Terminals"
          description: Terminals
      operationId: ListTerminals
      tags:
        - Terminals

  /v1/hq/terminals/{terminal_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - terminals:read
      summary: Get terminal
      description: Retrieves terminal with ID.
      parameters:
        - name: terminal_id
          description: Terminal ID
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Terminal"
          description: Terminal
      operationId: GetTerminal
      tags:
        - Terminals
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - terminals:write
      summary: Update a terminal
      description: Updates a terminal connected to a company.
      parameters:
        - name: terminal_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Terminal"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Terminal"
          description: Updated terminal
      operationId: UpdateTerminal
      tags:
        - Terminals
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - terminals:write
      summary: Delete a terminal
      description: Deletes a terminal connected to a company.
      parameters:
        - name: terminal_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          description: Terminal deleted
      operationId: DeleteTerminal
      tags:
        - Terminals

  /v1/hq/user/terminals:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - terminals:read
      summary: List all user terminals
      description: Lists all terminals connected to user.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Terminals"
          description: Terminals
      operationId: ListUserTerminals
      tags:
        - User Terminals

  /v1/hq/user/terminals/{terminal_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - terminals:read
      summary: Get user terminal
      description: Retrieves user terminal with ID.
      parameters:
        - name: terminal_id
          description: Terminal ID
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Terminal"
          description: Terminal
      operationId: GetUserTerminal
      tags:
        - User Terminals
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - terminals:write
      summary: Delete a user terminal
      description: Deletes a terminal connected to user.
      parameters:
        - name: terminal_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          description: Terminal deleted
      operationId: DeleteUserTerminal
      tags:
        - User Terminals

  /v1/hq/user/settlement_accounts:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
      summary: List settlement accounts
      description: Lists the settlement accounts of a user.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementAccounts"
          description: Settlement accounts
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListUserSettlementAccounts
      tags:
        - Settlement Accounts

  /v1/hq/notifications:
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - notifications:write
      summary: Create a notification
      description: |
        Creates a notification at company.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotificationCreate"
      responses:
        "200":
          description: Notification Created
      operationId: CreateNotification
      tags:
        - Notifications

  /v1/hq/companies/{company_id}/notifications:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - notifications:read
      summary: List all notifications
      description: Lists all notifications at a company.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notifications"
          description: Notifications
      operationId: ListNotifications
      tags:
        - Notifications
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - notifications:write
      summary: Delete all notifications
      description: Deletes all notifications that user has access to at a company, including user specific notifications.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletionResult"
          description: Notifications were deleted
      operationId: DeleteNotifications
      tags:
        - Notifications

  /v1/hq/stream/companies/{company_id}/notifications:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - notifications:read
      summary: Stream notifications
      description: Streams all notifications at a company.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          description: Notifications stream
      operationId: StreamNotifications
      tags:
        - Notifications

  /v1/hq/notifications/{notification_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - notifications:read
      summary: Retrieve a notification
      description: Retrieves a notification at a users company.
      parameters:
        - name: notification_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notification"
          description: Notification
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetNotification
      tags:
        - Notifications
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - notifications:write
      summary: Delete a notification
      description: Deletes a notification at a users company.
      parameters:
        - name: notification_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          description: Notification was deleted
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: DeleteNotification
      tags:
        - Notifications

  /v1/hq/companies:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - companies:read
      summary: List all companies
      description: Lists all companies user has access to.
      parameters:
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Companies"
          description: Companies
      operationId: GetCompanies
      tags:
        - Companies
    post:
      security:
        - BearerTokenAuth: []
      summary: Create a company
      description: Creates a new company within the current enterprise. The new company will inherit every needed property not required by the request body definition, from the current active company.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Company"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
          description: Company
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: CreateCompany
      tags:
        - Companies

  /v1/hq/companies/{company_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
      summary: Update a company
      description: Updates a company by ID.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Company"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
          description: Company
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: UpdateCompany
      tags:
        - Companies
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - companies:read
      summary: Get company
      description: Retrieves company with ID.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
          description: Company
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: GetCompany
      tags:
        - Companies

  /v1/hq/pricing:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: List pricing
      description: Retrieve pricing information for all supported countries.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllPricing"
          description: Pricing
      operationId: ListPricing
      tags:
        - Hidden
  /v1/hq/pricing/{country_code}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: Get pricing for country
      description: Retrieve pricing information for a specified country or default pricing if country is not supported. Default prices do not return a country_code.
      parameters:
        - name: country_code
          description: Country code in Alpha-2.
          in: path
          required: true
          schema:
            maxLength: 2
            minLength: 2
            type: string
        - name: product
          description: Can optionally be passed to get single product only.
          in: query
          required: false
          schema:
            type: string
            enum:
              [
                sms_announcements,
                sms_reminders,
                users,
                pos,
                checkin,
                sms_custom,
                base_fee,
                spaces,
                marketplace,
                noshow,
              ]
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Pricing"
          description: Pricing for country
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetPricingByCountryCode
      tags:
        - Hidden
  /v1/hq/pricing/calculator:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      summary: Calculate pricing
      description: Calculate pricing based on country and resource requirements.
      parameters:
        - name: country_code
          description: Country code in Alpha-2.
          in: query
          required: true
          schema:
            maxLength: 2
            minLength: 2
            type: string
        - name: staff
          description: Number of staff.
          in: query
          required: true
          schema:
            type: number
            format: double
        - name: resources
          description: Number of resources.
          in: query
          required: true
          schema:
            type: number
            format: double
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PricingCalculation"
          description: Pricing calculation
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: CalculatePricing
      tags:
        - Hidden

  /v1/hq/user:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - user:read
      summary: Get user
      description: |
        Gets current user information, inferred from token.

        This endpoint is subject to extreme change in the near future and offers no promise of backwards compatability.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: User
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: GetUser
      tags:
        - User

  /v1/hq/user/oauth:
    get:
      security:
        - BearerTokenAuth: []
      summary: OAuth
      description: Starts an OAuth flow for a user.
      parameters:
        - name: provider
          in: query
          required: true
          schema:
            type: string
            enum: [google, saltpay]
        - name: redirect_uri
          in: query
          schema:
            type: string
          description: The URI to redirect to after the OAuth flow is complete.
      responses:
        "302":
          description: OAuth redirect
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: UserOAuth
      tags:
        - User

  /v1/hq/tokens:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - Email/Password: []
      summary: Create token
      description: Creates a Noona checkin token that is required for API interaction.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckinToken"
          description: Token
        "401":
          $ref: "#/components/responses/UnauthorizedBasicError"
      operationId: CreateToken
      tags:
        - Hidden

  /v1/hq/user/tokens:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - Email/Password: []
      summary: Create token
      description: Creates a personal API token that can be used for API interaction.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Token"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Token"
          description: Token
        "401":
          $ref: "#/components/responses/UnauthorizedBasicError"
      operationId: CreateUserToken
      tags:
        - Tokens
    get:
      security:
        - BearerTokenAuth: []
      summary: List tokens
      description: Lists existing tokens tied to user.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tokens"
          description: Token
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      operationId: ListUserTokens
      tags:
        - Tokens

  /v1/hq/user/tokens/{token_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
      summary: Get token
      description: Gets a token tied to user.
      parameters:
        - name: token_id
          description: Token ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Token"
          description: Token
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetUserToken
      tags:
        - Tokens
    delete:
      security:
        - Email/Password: []
      summary: Delete a token
      description: Deletes a token.
      parameters:
        - name: token_id
          description: Token ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Token was deleted
        "401":
          $ref: "#/components/responses/UnauthorizedBasicError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: DeleteUserToken
      tags:
        - Tokens

  /v1/hq/products:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - products:read
      summary: List all products
      description: Lists all products tied to company.
      parameters:
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductFilter"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/pagination"
        - name: barcode
          in: query
          deprecated: true
          description: "Use filter instead."
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Products"
          description: Products
      operationId: ListProducts
      tags:
        - Products
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - products:write
      summary: Create a product
      description: Creates a new product at company.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - title
              allOf:
                - $ref: "#/components/schemas/Product"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
          description: Product
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: CreateProduct
      tags:
        - Products

  /v1/hq/products/{id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - products:read
      summary: Retrieve a product
      description: Retrieves information about an existing product.
      parameters:
        - name: id
          description: Product ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
          description: Product
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetProduct
      tags:
        - Products
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - products:write
      summary: Delete a product
      description: Deletes a product.
      parameters:
        - name: id
          description: Product ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Product was deleted
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: DeleteProduct
      tags:
        - Products
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - products:write
      summary: Update a product
      description: Updates product by ID by setting the values of the parameters passed. Any parameters not provided will be left unchanged.
      parameters:
        - name: id
          description: Product ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Product"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
          description: Updated product
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: UpdateProduct
      tags:
        - Products

  /v1/hq/stream/companies/{company_id}/products:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - products:read
      summary: Stream products
      description: Streams products for a company.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          description: Products stream
      operationId: StreamProducts
      tags:
        - Products

  /v1/hq/product_groups:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - product_groups:read
      summary: List all product groups
      description: Returns a list of all product groups tied to company.
      parameters:
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductGroups"
          description: Product groups
      operationId: ListProductGroups
      tags:
        - Product Groups
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - product_groups:write
      summary: Create a product group
      description: Creates a new product group for users company.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - title
              allOf:
                - $ref: "#/components/schemas/ProductGroup"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductGroup"
          description: Product group
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: CreateProductGroup
      tags:
        - Product Groups

  /v1/hq/product_groups/{id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - product_groups:read
      summary: Retrieve a product group
      description: Retrieve information about an existing product group.
      parameters:
        - name: id
          description: Product Group ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductGroup"
          description: Product group
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetProductGroup
      tags:
        - Product Groups
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - product_groups:write
      summary: Delete a product group
      description: Deletes product group tied to users comapny.
      parameters:
        - name: id
          description: Product Group ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Product group deleted
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: DeleteProductGroup
      tags:
        - Product Groups
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - product_groups:write
      summary: Update a product group
      description: Updates a product group with ID by setting the values of the parameters passed. Any parameters not provided will be left unchanged.
      parameters:
        - name: id
          description: Product Group ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductGroup"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductGroup"
          description: Updated product group
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: UpdateProductGroup
      tags:
        - Product Groups

  /v1/hq/product_groups/expanded:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - product_groups:read
      summary: List product groups expanded
      description: |
        Retrieve all product groups and products in an ordered manner with respect to hierarchy.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductGroupsExpanded"
          description: Product groups and products
      operationId: ListGroupsAndProducts
      tags:
        - Product Groups

  /v1/hq/product_groups/order:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - product_groups:write
      summary: Update product groups order
      description: |
        Updates order of multiple product groups. This also applies to the 'root' product groups that have no parent.

        All groups in the request array must share the same parent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductGroupsOrder"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductGroupsOrder"
          description: Product groups order
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: UpdateProductGroupsOrder
      tags:
        - Product Groups

  /v1/hq/stream/companies/{company_id}/product_groups:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - product_groups:read
      summary: Stream product groups
      description: Streams product groups for a company.
      parameters:
        - name: company_id
          in: path
          required: true
          schema:
            type: string
            example: "dwawd8awudawd"
      responses:
        "200":
          description: Product Groups stream
      operationId: StreamProductGroups
      tags:
        - Product Groups

  /v1/hq/sales/{sale_id}/transactions/{transaction_id}/send_receipt:
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:write
      summary: Sends receipt for transaction
      description: Sends a receipt to the specified user for the transaction with transaction_id
      parameters:
        - name: sale_id
          description: Sale ID
          in: path
          required: true
          schema:
            type: string
        - name: transaction_id
          description: Transaction ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: example@example.com
                phone:
                  type: object
                  properties:
                    phone_number:
                      type: string
                      example: 8578844
                    phone_country_code:
                      type: string
                      example: 354
      responses:
        "200":
          description: Message sent succesfully
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: SendTransactionReceipt
      tags:
        - Transactions

  /v1/hq/transactions/{transaction_id}/subtransactions:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:read
      summary: List all subtransactions
      description: Lists all subtransactions that belong to a transaction.
      parameters:
        - name: transaction_id
          description: Transaction ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subtransactions"
          description: Subtransaction
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: ListSubtransactions
      tags:
        - Subtransactions

  /v1/hq/sales/{sale_id}/transactions/{transaction_id}/subtransactions:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      deprecated: true
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:read
      summary: List all subtransactions
      description: |
        Lists all subtransactions that belong to a transaction.

        Deprecated: Use /v1/hq/transactions/{transaction_id}/subtransactions instead.
      parameters:
        - name: sale_id
          description: Sale ID
          in: path
          required: true
          schema:
            type: string
        - name: transaction_id
          description: Transaction ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subtransactions"
          description: Subtransaction
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: DeprecatedListSubtransactions
      tags:
        - Hidden

  /v1/hq/subtransactions:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:write
      summary: Create a subtransaction
      description: |
        Creates a new subtransaction for a transaction or sale.

        **Cash** and **Other** payment methods are settled immedietly.

        The **Card** payment method gets created in the *unprocessed* state, wakes up the companies terminal
        and will be updated to *successful* once a payment has been made.
      parameters:
        - in: query
          name: behavior
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubtransactionCreationBehavior"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - payment_method_id
                - transaction_id
                - amount
                - currency
              allOf:
                - $ref: "#/components/schemas/Subtransaction"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subtransaction"
          description: Subtransaction
        "400":
          $ref: "#/components/responses/BadRequestError"
      operationId: CreateSubtransaction
      tags:
        - Subtransactions

  /v1/hq/subtransactions/{subtransaction_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:read
      summary: Retrieve a subtransaction
      description: Retrieves information about an existing subtransaction.
      parameters:
        - name: subtransaction_id
          description: Subtransaction ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subtransaction"
          description: Subtransaction
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetSubtransaction
      tags:
        - Subtransactions
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:write
      summary: Delete a subtransaction
      description: Deletes a subtransaction.
      parameters:
        - name: subtransaction_id
          description: Subtransaction ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Subtransaction was deleted
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: DeleteSubtransaction
      tags:
        - Subtransactions

  /v1/hq/sales/{sale_id}/transactions/{transaction_id}/subtransactions/{id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      deprecated: true
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:read
      summary: Retrieve a subtransaction
      description: |
        Retrieves information about an existing subtransaction.

        Deprecated: Use /v1/hq/subtransactions/{subtransaction_id} instead.
      parameters:
        - name: sale_id
          description: Sale ID
          in: path
          required: true
          schema:
            type: string
        - name: transaction_id
          description: Transaction ID
          in: path
          required: true
          schema:
            type: string
        - name: id
          description: Subtransaction ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subtransaction"
          description: Subtransaction
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: DeprecatedGetSubtransaction
      tags:
        - Hidden

  /v1/hq/companies/{company_id}/sales:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:read
      summary: List all sales
      description: |
        Lists all sales for a company

        Customer is [point in time property](#section/Point-in-time-properties) and is always expanded.
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sales"
          description: Sales
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: ListSales
      tags:
        - Sales

  /v1/hq/sales/{sale_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:read
      summary: Retrieve a sale
      description: |
        Retrieves information about an existing sale.

        Customer is [point in time property](#section/Point-in-time-properties) and is always expanded.
      parameters:
        - name: sale_id
          description: Sale ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sale"
          description: Sale
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetSale
      tags:
        - Sales
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:write
      summary: Update a sale
      description: Allows for a partial update of a sale.
      parameters:
        - name: sale_id
          description: Sale ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Sale"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sale"
          description: Sale
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: UpdateSale
      tags:
        - Sales
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:write
      summary: Delete a sale
      description: Deletes a sale if allowed
      parameters:
        - name: sale_id
          description: Sale ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sale
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: DeleteSale
      tags:
        - Sales

  /v1/hq/sales/{sale_id}/refund:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:write
      summary: Refund a marketplace sale
      description: |
        Marketplace sales originate from online bookings that include payments (represented as subtransactions in transactions under the sale).

        This endpoint allows for a refund of the payments associated with the sale.

        A refund is not possible if:
          - The underlying payment of a subtransaction has been settled to the merchant.
          - A subtransaction has been processed through HQ since the sale was created.

        The possible error scenarios are explained in the 400 description below.

        The refund, when successful, is different in these scenarios:
        - **Completed Invoice**: All subtransactions are refunded and a credit invoice is created.
        - **Draft Invoice**: All subtransactions are refunded and the invoice is deleted.
      parameters:
        - name: sale_id
          description: Sale ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sale refunded
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundMarketplaceSaleError"
      operationId: RefundMarketplaceSale
      tags:
        - Sales

  /v1/hq/sales:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:write
      summary: Create a sale
      description: Creates a sale
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - company
              allOf:
                - $ref: "#/components/schemas/Sale"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sale"
          description: Sale
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: CreateSale
      tags:
        - Sales

  /v1/hq/companies/{company_id}/transactions:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:read
      summary: List all transactions
      description: Lists all transactions for a company
      parameters:
        - name: company_id
          description: Company ID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: filter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionsFilter"
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/pagination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transactions"
          description: Transactions
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: ListTransactions
      tags:
        - Transactions

  /v1/hq/transactions/{transaction_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:read
      summary: Retreive a single transaction
      description: Retreive a single transaction
      parameters:
        - name: transaction_id
          description: Transaction ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"
          description: Transaction
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetTransaction
      tags:
        - Transactions
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:write
      summary: Update a transaction
      description: Update a transaction
      parameters:
        - name: transaction_id
          description: Transaction ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Transaction"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"
          description: Transaction
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: UpdateTransaction
      tags:
        - Transactions
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:write
      summary: Delete a transaction
      description: Delete a transaction
      parameters:
        - name: transaction_id
          description: Transaction ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Transaction
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: DeleteTransaction
      tags:
        - Transactions

  /v1/hq/transactions:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:write
      summary: Create a transaction
      description: Create a transaction
      parameters:
        - in: query
          name: behavior
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransactionCreationBehavior"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - sale
              allOf:
                - $ref: "#/components/schemas/Transaction"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"
          description: Transaction
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: CreateTransaction
      tags:
        - Transactions

  /v1/hq/transactions/{transaction_id}/line_items:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:read
      summary: List line items
      description: |
        List line items on a transaction

        Product, event type and voucher are [point in time properties](#section/Point-in-time-properties)
      parameters:
        - name: transaction_id
          description: Transaction ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineItems"
          description: LineItems
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: ListLineItems
      tags:
        - Line Items

  /v1/hq/line_items/{line_item_id}:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    get:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:read
      summary: Retrieve line item
      description: |
        Retrieve a single line item

        Product, event type and voucher are [point in time properties](#section/Point-in-time-properties)
      parameters:
        - name: line_item_id
          description: Line Item ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineItem"
          description: LineItem
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: GetLineItem
      tags:
        - Line Items
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:write
      summary: Update a line item
      description: Update a line item if allowed
      parameters:
        - name: line_item_id
          description: Line Item ID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LineItem"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineItem"
          description: LineItem
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: UpdateLineItem
      tags:
        - Line Items
    delete:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:write
      summary: Delete a line item
      description: Deletes a line item if allowed
      parameters:
        - name: line_item_id
          description: Line Item ID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Line item deleted
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/PermissionDenied"
        "404":
          $ref: "#/components/responses/NotFoundError"
      operationId: DeleteLineItem
      tags:
        - Line Items

  /v1/hq/line_items:
    parameters:
      - $ref: "#/components/parameters/select"
      - $ref: "#/components/parameters/expand"
    post:
      security:
        - BearerTokenAuth: []
        - oAuth 2.0:
            - sales:write
      summary: Create a line item
      description: Create a line item
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - transaction
                - title
                - unit_price
              allOf:
                - $ref: "#/components/schemas/LineItem"
      responses:
        "200":
          content:
            application/json:
              schema:
[...]
